.data-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    margin-top: 1.5rem;
}

thead, tbody, tfoot, tr, td, th {
    border-color: inherit;
    border-style: solid;
    border-width: 2px;
}

.data-table th,
.data-table td {
    padding: 0.75rem 1rem;
    vertical-align: middle;
}

.data-table th {
    font-weight: 600;
    background-color: var(--bg-light);
}

.no-users {
    padding-top: 2rem;
    width: 100%;
}

.action-header, .action-table {
    width: 10rem;
}

.action-table {
    margin: 0px auto;
    text-align: center;
}

.action-table .button {
    padding: 5px 10px;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.action-table .button .bi {
    font-size: 1.3rem;
    width: 100%;
}

.form-table-pagination{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.pagination{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    /* Responsive Table-to-Card */
    .data-table thead {
        display: none;
    }

    .data-table tr {
        display: block;
        margin-bottom: 1.5rem;
        border-radius: 0.5rem;
        border: 1px solid var(--border-color);
        background-color: var(--bg-white);
    }

    .data-table td {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--bg-light);
    }

    .data-table td:last-child {
        border-bottom: 1px solid var(--color-lightGrey);
    }

    .data-table td::before {
        content: attr(data-label);
        font-weight: 600;
        margin-right: 1rem;
    }

    .action-table {
        width: -webkit-fill-available;
        text-align: right;
    }

    /* Table Mobile Styles from _layout.css */
    table{
        border: unset;
    }

    table tbody{
        border-style: none;
    }
}