@import url('./_variables.css');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: var(--font-family-sans);
    background-color: var(--bg-light);
    color: var(--text-dark);
}

/* Layout Structure */
.app-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.sidebar-container {
    display: flex;
    flex-shrink: 0;
    z-index: 30;
    transition: transform 0.3s ease-in-out;
}

/* Column 1: Main Sidebar */
.main-sidebar {
    width: 80px;
    background-color: var(--primary-color);
    color: var(--text-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}

.logo{
    margin-bottom: 10px;
    margin: 0px auto;
}

.logo h1{
    margin: 0;
    padding: 0;
    text-align: center;
}

.logo img{
    width: unset;
}

/* Column 2: Sub Menu */
.sub-menu-container {
    width: 270px;
    background-color: var(--bg-white);
    border-right: 1px solid var(--border-color);
    padding: 0.7rem;
    transition: width 0.3s, padding 0.3s;
    overflow-y: auto;
}

.sub-menu-container.hidden {
    width: 0;
    padding: 1rem 0;
    overflow: hidden;
}

.sub-menu-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0 0 1rem 0.5rem;
}

/* Column 3: Main Content */
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.content-body {
    padding: 1.5rem;
    /* Add padding to the bottom to avoid content being hidden by the fixed footer */
    padding-bottom: 10rem;
}

.card {
    background-color: var(--bg-white);
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px var(--shadow-color);
}

/* Mobile Styles */
.mobile-menu-button {
    display: none;
}

.hr{
    margin-bottom: 2rem;
}

@media (max-width: 768px) {
    .sidebar-container {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        transform: translateX(-100%);
    }

    .sidebar-container.open {
        transform: translateX(0);
    }

    .content-body {
        padding: 1rem;
        padding-bottom: 80px;
    }
}